/* Глобальные настройки для всех страниц */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    font-family: 'Inter', sans-serif ;
}


/* Reset базовых отступов */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
  #root {
    width: 100%;
    height: 100%;
  }
  


/* Убираем отступы у списка (если где-то используется) */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
